/*
 * General
 */

.gridPane {
    -fx-background-color: white;
}

.interfaceButtonsContainer {
    -fx-background-color: white;
}

.interfaceButtons {
    -fx-background-color: #e3e3e3 transparent transparent transparent;
    -fx-background-radius: 4px;
    -fx-border-width: 0px;
    -fx-font-size: 14px;
    -fx-padding: 2px;
}

.interfaceTextInputs {
    -fx-background-color: white;
    -fx-background-radius: 6px;
    -fx-border-color: lightgrey;
    -fx-border-radius: 4px;
    -fx-border-width: 1px;
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
}

.interfaceButtons:focused {
    -fx-border-width: 0px;
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
}

.primaryInterfaceButton {
    -fx-background-color: #6DADC5;
}

.primaryInterfaceButton:hover {
    -fx-background-color: #2F97C1;
}

.secondaryInterfaceButton:hover {
    -fx-background-color: #8AB2BC;
}


/*
 * Search
 */

.searchBoxContainer {
    -fx-padding: 4px 4px 4px 4px;
}

.searchBoxLabel {
    -fx-alignment: CENTER_RIGHT;
    -fx-padding: 4px 8px 4px 4px;
    -fx-font-size: 16px;
}


/*
 * Labels
 */

.headerLabelsContainer {
    -fx-background-color: white;
    -fx-padding: 0px 15px 0px 4px;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: lightgrey;
    -fx-alignment: CENTER;
}

.headerLabels {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.headerLabelSelected {
    -fx-underline: true;
}

.headerLabels:hover {
    -fx-text-fill: grey;
    -fx-cursor: hand;
}

.labels {
    -fx-font-size: 14px;
}



.inventoryContentsScrollPane {
    -fx-padding: 0px 4px 0px 4px;
    -fx-background-color: white;
    -fx-border-width: 0px;
}

.inventoryContentsScrollPane:focused {
    -fx-border-width: 0px;
}

.inventoryContents {
    -fx-background-color: white;
    -fx-padding: 4px 0px 4px 0px;
}


/*
 * Inventory Item
 */

.toggleEditButton {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 0px;
}

.toggleEditButton:hover {
    -fx-background-color: #6DADC5;
}


/*
 * Edit Inventory Item
 */

.confirmButton:hover {
    -fx-background-color: #40DDA6;
}

.cancelButton:hover {
    -fx-background-color: #F5516D;
}

.deleteButton:hover {
    -fx-background-color: #F5516D;
}

.error {
    -fx-text-fill: red;
}


/*
 * Change scroll pane scroll bar style
 */

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport:focused {
    -fx-border-width: 0px;
}

.scroll-bar {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-border-width: 0;
}

.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-width: 0;
    -fx-padding: 0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape: " ";
    -fx-padding: 0.0 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.0;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: derive(black,90.0%);
    -fx-background-insets: 0.0, 0.0, 0.0;
    -fx-background-radius: 5;
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 0.0, 0.0, 0.0;
    -fx-background-radius : 5;
}